@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&family=Orbit&display=swap');
/* 모든 요소에 적용되는 선택자는 기호 * 입니다. */


h3{
   width: 600px;
   margin: 10px auto;
   text-align: center;
}

nav{
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: red;
   font-size:120%;
   color: white;
   
}

ul{
   list-style: none;
}

li{
   display:inline-block;
}

table{
   border-top: 3px solid gray;
   border-bottom: 3px solid gray;
   width: 700px;
   margin: auto;
}
td{
   padding: 10px;
}

th{
   background-color: #c69;
   color: white;
   border-radius: 5px; 
   text-align: center;
   width: 80%;
   display: inline-block;
   padding: 10px;
}

button{
   margin: 15px 7px;
   background-color: red;    
   border: none;
   color: white;
   font-size: 1.1em;      
   border-radius: 4px;
}

li:last-child {
   float:right;
   margin-right:20px;
}
main{
   margin: auto;
   min-height:700px;
   padding:20px;
}

footer{
   text-align: center;
   margin : 30px;
   padding-top: 60px;
   padding-bottom: 60px;
   background-color: #8282f9;
   border: 0px ; 
}


input{
   width: 60%;
   padding: 6px;
   border-radius: 6px;
   border: 1px solid gray;
}



