@charset "UTF-8";
.body{
	margin: 0;	
}
/* 블록요소의 width 는 기본이 화면의 100% , height는 컨텐츠 크기만큼. 높이는 padding으로 정하기 */
.header{
	padding: 40px 20px;
	background-color: orange;
	color: white;	
}

/* 
.nav{	
} 
*/

ul{
	list-style: none;
	background-color: gray;	
	margin: 0px;
	/* 자식 li 에 float 속성을 지정했을 때 필요합니다. */
	overflow: hidden;
}
/* ul 태그의 자손 */
.nav a{
	text-decoration: none;	/* 밑줄 없애기 */
	padding: 20px;
	display: inline-block;
	color: white;
}

.nav li{
	float: left;
	/* float 을 지정하면 부모 태그 ul의 높이가 0이 됩니다.
		ul 태그 overflow 를 설정해야 합니다.
	 */
}

.section{
	padding: 20px;
	background-color: azure;
	/* 컨텐츠 내용만큼 높이만 지정되는 것을 최소 높이 지정하여 바꾸기 */
	min-height: 400px;
}

.footer{
	padding: 10px;
	background-color: cornflowerblue;
	color: white;	
	font-size: 80%;
	text-align: center;
}

h2{
	text-align: center;
}